body {
    background-color: white;
    background-image: url("../Clg-project-demo-1/sourse/mass\ thalaa.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: 1000px 750px;

}