body {
    background-color: white;
    background-image: url("../Clg-project-demo-1/sourse/mass\ thalaa.jp");
    background-position: top left;
    background-attachment: fixed;
    background: size 1700px;

}